$Very-dark-blue-main: #0d192c;
$Very-dark-blue-card: #15263f;
$Very-dark-blue-line: #2e405a;
$Soft-blue: #8bacd9;
$Cyan: #00fff8;
$White: #ffffff;

.f-heading {
  font-size: 22px;
  font-weight: 600;
}

.f-body {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.f-caption {
  font-size: 16px;
  font-weight: 400;
}

.f-caption-bold {
  font-size: 16px;
  font-size: 600;
}
